{% extends 'base.html' %}

{% block title %}
    {{ band.name }}
{% endblock %}
{% block content %}
    
    <div class="page-header">
      <a class="btn btn-default" href="{% url 'listBands' %}" role="button">back</a>
      <h1>{{band.name}}</h1>
      <small>{{band.picture_url}}</small>
    </div>

    <div class="list-group">
        <label>Members</label>
        {% for member in member_list %}
            <a href="#" class="list-group-item">{{member}}</a>
        {%endfor%}
    </div>

    <a class="btn btn-default" href="{% url 'listBands' %}" role="button">edit</a>
    <a class="btn btn-danger" href="{% url 'listBands' %}" role="button">delete</a>

{% endblock %}