{% extends 'base.html' %}

{% block title %}
    Your Bands
{% endblock %}
{% block content %}

    <div class="page-header">
        <a class="btn btn-default" href="{%url 'createBand'%}" role="button">add+</a>
        <h1>Bands</h1>
        <small>List of all bands</small>
    </div>
    
    <div class="list-group">
        {%for band in band_list%}
            <a href="{% url 'viewBand' band_id=band.id %}" class="list-group-item">{{band.name}}</a>
        {%endfor%}
    </div>

{% endblock %}