{% extends 'base.html' %}

{% block title %}
    {{ member}}
{% endblock %}
{% block content %}
    
    <div class="page-header">
      <a class="btn btn-default" href="{% url 'viewBand' band_id=band.id %}" role="button">back</a>
      <h1>{{member}}</h1>
      <small>{{member.picture_url}}</small>
    </div>

    <a class="btn btn-default" href="{% url 'editMember' member_id=member.id %}" role="button">edit</a>
    <a class="btn btn-danger" href="{% url 'deleteMember' member_id=member.id %}" role="button">delete</a>

{% endblock %}