{% extends 'base.html' %}

{% block title %}
    Task
{% endblock %}
{%block nav%}
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Band Management</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Band</a>
            </li>
            <li>
                <a href="#">You</a>
            </li>
            <li>
                <a href="/accounts/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
{%endblock%}
{% block content %}

    
    <div class="page-header">
        <h1>Create New Task</h1>
    </div>
    
    <form action="" method="POST" role="form">
        {%csrf_token%}

        {{form.as_p}}
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

{% endblock %}