{% extends 'base.html' %}

{% block title %}
    {{band}} Tasks
{% endblock %}
{%block nav%}
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Band Management</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Band</a>
            </li>
            <li>
                <a href="#">You</a>
            </li>
            <li>
                <a href="/accounts/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
{%endblock%}
{% block content %}

    <div class="page-header">
        <a class="btn btn-default" href="{%url 'createTask' band_id=band.id%}" role="button">add+</a>
        <h1>Tasks</h1>
        <small>List of all tasks</small>
    </div>
    
    <div class="list-group">
        {%for task in tasks%}
            {{task}}
            {% comment %}<a href="{% url 'viewBand' band_id=band.id %}" class="list-group-item">{{band.name}}</a>{% endcomment %}
        {%endfor%}
    </div>

{% endblock %}