{% extends 'bandmanagement_base.html' %}

{% block title %}
    Band
{% endblock %}
{% block body %}

    
    <div class="page-header">
        <h1>Band</h1>
        <small>{{reason}} Band</small>
    </div>
    
    
    <form action="" method="POST" role="form">
        {%csrf_token%}
        <legend>
            {%if band%}
                {{band.name}}
            {%else%}
                New Band
            {%endif%}
        </legend>
        
        {{form.as_p}}
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

{% endblock %}